<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Booking Form</title>
        <link rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
            integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
            crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link rel="stylesheet" href="../static/index.css">
        <style>
        :root {
            --color-primary: #4d78b8;
            --color-secondary: #75C9C8;
            --color-tertiary: #144e8b;
            --color-dark: #2A2C24;
            --color-light: whitesmoke;
        }

        * {
            box-sizing: border-box;
        }

        body {
            margin: 0;
            padding: 0;
            /* background: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%); */
        }

        .wrapper-div {
            min-height: 100vh;
            display: flex;
            flex-direction: column;
        }
    </style>
    </head>

    <body>
        <!-- Navigation bar -->
        <nav class="navbar">
            <div class="navLogo">
                <img class="siteLogo" src="../static/images/logoInWhite.png"
                    alt>
                <div class="logo"><a
                        href="{{url_for('home')}}">MedKorea</a></div>
            </div>
            <div class="buttons">
                <a href="{{ url_for('home')}}">Home</a>
                <a href="{{ url_for('search_page')}}">Search</a>
                <a href="{{ url_for('user_page')}}">Account</a>
                <a href="{{ url_for('about_us')}}">About</a>
            </div>
        </nav>

        <div class="wrapper-div">
            <div class="bookTitle">
                <h1>Doctor Appointment Request Form</h1>
                <h2>Please finalize your booking details below:</h2>
            </div>

            <div class="booking-form">
                <!-- <form id="bookForm" name="booking" action> -->
                <div class="selectDoctor">
                    <label class="bookLabel" for="doctorSelect">Please select
                        the Doctor you would like to book your
                        appointment with</label>
                    <select name="doctors" id="doctorSelect">
                        <option value>Select a doctor</option>
                        <option value="ShinHoChul">Dr. Shin Ho Chul</option>
                        <option value="YooShinAe">Dr. Yoo Shin-Ae</option>
                        <option value="Kwak">Dr. Kwak</option>
                        <option value="HSRhee">Dr. H.S.Rhee</option>
                        <option value="JohnLinton">Dr. John Linton</option>
                        <option value="Jang">Dr. Jang</option>
                        <option value="HanHoWan">Dr. Han Ho-Wan</option>
                        <option value="SungHaeRee">Dr. Sung Hae-Ree</option>
                        <option value="ChungChinKoo">Dr. Chung Chin-Koo</option>
                        <option value="LeeSooChan">Dr. Lee Soo-Chan</option>
                        <option value="Kong">Dr. Kong</option>
                        <option value="JamesLee">Dr. James Lee</option>
                    </select>
                </div>

                <div class="doctorSelected">
                    <h2>Booking with <span class="chosenDoctor">#</span></h2>
                </div>

                <div class="radio-input">
                    <label class="bookLabel" for="patientSelect">Who is this
                        appointment for?</label>
                    <fieldset>
                        <!-- <legend>Select your gender:</legend> -->
                        <div class="patientSelect">
                            <input type="radio" id="meSelect" name="patient"
                                value="Me">
                            <label for="me">Me</label>
                            <input type="radio" id="someOneElse" name="patient"
                                value="someOneElse" />
                            <label for="someOneElse">Someone Else</label>
                        </div>
                    </fieldset>
                </div>

                <!-- password input -->
                <div class="fullNameInput">
                    <label class="bookLabel" for="fullName">Please confirm your
                        full name:</label>
                    <input type="name" id="fullName" name="Fullname"
                        placeholder="Fullname" required><br>
                </div>

                <!-- email input -->
                <div class="email-input">
                    <label class="bookLabel" for="email">Please confirm your
                        email address:</label>
                    <input type="email" id="email" name="email"
                        placeholder="email@example.com" required><br>
                </div>

                <!-- phone input -->
                <div class="phone-input">
                    <label class="bookLabel" for="phone">Please confirm your
                        phone number:</label>
                    <input type="tel" id="phone" name="phone"
                        placeholder="phone number" required><br>
                </div>

                <!-- birth date -->
                <div class="preferredDate">
                    <label class="bookLabel" for="apptDate">Please select your
                        preferred date for booking an
                        appointment:</label>
                    <input type="date" id="apptDate" name="AppointmentDate"><br>
                </div>

                <div class="currentConcerns">
                    <label class="bookLabel" for="currentConcerns">Any specific
                        reasons for this appointment?:</label>
                    <input type="text" name="currentConcerns"
                        class="apptConcerns" placeholder="Please enter here:">
                </div>
                <!-- Register Button -->
                <div class="btn-div">
                    <button class="btn register" id="bookingConfirm"
                        type="submit">Confirm Booking</button>
                </div>

            </div>
        </div>
        <!-- Footer -->
        <footer class="footer">
            <p class="explore-text">Feel free to explore our resources and
                reach
                out if you have any questions. We're dedicated to supporting
                your health journey!
            </p>
            <!-- Social media icons below the footer -->
            <div class="footer-icons" style="margin-top: 0px;">
                <a href="https://www.facebook.com" target="_blank"><i
                        class="fab fa-facebook-f"></i></a>
                <a href="https://www.twitter.com" target="_blank"><i
                        class="fab fa-twitter"></i></a>
                <a href="https://www.instagram.com" target="_blank"><i
                        class="fab fa-instagram"></i></a>
                <a href="https://github.com" target="_blank"><i
                        class="fab fa-github"></i></a>
                <a href="https://linkedin.com" target="_blank"><i
                        class="fab fa-linkedin"></i></a>
            </div>
            <p class="copy">&copy; 2024 MedKorea. All right
                reserved.</p>
        </footer>
    </body>

</html>