<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{ title }}</title>
        <style>
            .wrap {
                min-height: 100vh;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
            }
            .anchor a {
                text-decoration: none;
                color: #007bff;
            }
        </style>
    </head>
    <body>
        <div class="wrap">
            <h1 class="anchor">Thank you for singing up!</h1>
            <h2 class="anchor">{{ message | safe }}</h2>
        </div>
    </body>
</html>