{% extends 'base.html' %}

{% block head %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
{% endblock %}

{% block content %}
<main>
    <nav class="navbar">
        <div class="navLogo">
            <img class="siteLogo" src="../static/images/logoInWhite.png" alt>
            <div class="logo">MedKorea</div>
        </div>
        <div class="buttons">
            <a href="{{ url_for('about_us')}}">Search</a>
            <a href="{{ url_for('user_page')}}">Account</a>
            <a href="{{ url_for('register')}}">Register</a>
            <a href="{{ url_for('about_us')}}">About</a>
        </div>
    </nav>
    <!-- Section 1 - Navigation bar with Picture and Introduction -->
    <div class="container-1">
        <!-- https://www.pexels.com/video/drugs-pill-meds-3922881/ -->
        <a href="#!"
            alt="Video by cottonbro studio: Taking Medicine From Its Packaging">
            <video class="video-1" width="1000px" autoplay muted loop>
                <source src="../static/video/medicine.mp4" type="video/mp4">
                <source src="../static/video/medicine2.webm" type="video/webm">
                Your browser does not support the video tag.
            </video>
        </a>
        <div class="text-overlay">
            <p>Welcome!</p>
        </div>
    </div>
    <!-- End Section 1 -->
    <div class="bg-image">
        <div class="text one">
            <!--Photo by Artem Podrez: https://www.pexels.com/photo/a-close-up-view-of-a-covid-19-vaccine-vial-on-blue-background-5878501/ -->
            <span class="label">MedKorea</span>
        </div>
    </div>
    <!-- Section 2  - Website Information -->
    <div class="container-2">
        <!-- Second image card -->
        <div class="image-container">
            <div class="image-card">
                <!-- https://www.pexels.com/photo/3683115/ -->
                <img src="../static/images/pexels-anna-shvets-3683115.jpg"
                    alt="Medication Pills: Photo by Anna Shvets">
                <div class="text-overlay-2">
                    <p class="welcome-text">We're thrilled to have you here.</p>
                    <p class="mission-text">Our mission is to connect you with
                        reliable and comprehensive information about
                        English-speaking medical professionals and facilities in
                        South Korea.</p>
                    <p class="mission-text two">Whether you are a resident or a
                        visitor, we help you find
                        the medical resources you need in a language you
                        understand.</p>
                    <p class="kr-text one">저희의 미션은 한국 내 영어로 의사 및 의료 시설에 대한 신뢰할 수
                        있고 포괄적인 정보를 제공하는 것입니다.</p>
                    <p class="kr-text two">거주자이든 방문자이든, 우리는 여러분이 이해하는 언어로 필요한 의료
                        자원을 찾을 수 있도록 도와드립니다.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="bg-image-2">
        <div class="text two">
            <span class="label">MedKorea</span>
        </div>
    </div>
    <div class="bg-image-3">
        <div class="text three">
            <span class="label">MedKorea</span>
        </div>
    </div>
    <div class="container-3">
        <div class="subscribe-card">
            <div class="subscribe-content">
                <div class="subscribe-newsletter">
                    <span>Our newsletter</span>
                    <h4>Subscribe now to get</h4>
                    <h4>more future updates</h4>
                </div>
                <div class="subscribe-form">
                    <form id="subscription">
                        <div class="input-wrapper">
                            <input type="text" name="email-fake"
                                placeholder="Your email address">
                            <button class="btn-subscribe"
                                type="submit">Subscribe</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Section 4 - Learn more about Korea -->
    <div class="container-4"></div>
    <footer class="footer">
        <p class="explore-text">Feel free to explore our resources and reach
            out if you have any questions. We're dedicated to supporting
            your health journey!
        </p>
        <!-- Social media icons below the footer -->
        <div class="footer-icons" style="margin-top: 0px;">
            <a href="https://www.facebook.com" target="_blank"><i
                    class="fab fa-facebook-f"></i></a>
            <a href="https://www.twitter.com" target="_blank"><i
                    class="fab fa-twitter"></i></a>
            <a href="https://www.instagram.com" target="_blank"><i
                    class="fab fa-instagram"></i></a>
            <a href="https://github.com" target="_blank"><i
                    class="fab fa-github"></i></a>
            <a href="https://linkedin.com" target="_blank"><i
                    class="fab fa-linkedin"></i></a>
        </div>
        <p class="copy">&copy; 2024 MedKorea. All right
            reserved.</p>
    </footer>
</main>
{% endblock %}
