<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
        integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="../static/index.css">
</head>

<body>
    <!-- Navigation bar -->
    <div class="nav-div">
        <nav class="navbar">
            <div class="navLogo">
                <img class="siteLogo" src="../static/images/logoInWhite.png" alt>
                <div class="logo">MedKorea</div>
            </div>
            <div class="buttons">
                <a href="{{ url_for('home')}}">Home</a>
                <a href="{{ url_for('search_page')}}">Search</a>
                <a href="{{ url_for('about_us')}}">About</a>
            </div>
        </nav>
    </div>
    <div class="container">
        <!-- Flashed messages -->
        <div class="messages">
            {% with messages =
            get_flashed_messages(with_categories=true) %}
            {% if messages %}
            <ul class="flash-messages">
                {% for category, message in messages %}
                <li class="{{ category }}">
                    <span class="message-text">{{ message }}</span>
                    <button style="cursor: pointer;" class="dismiss-btn">&times;</button>
                </li>
                {% endfor %}
            </ul>
            {% endif %}
            {% endwith %}
        </div>
        <div id="login-div">
            <form action="/login" id="loginForm" method="POST">
                <h1>Welcome!</h1>
                <div class="user-input">
                    <label for="username">Username:</label>
                    <input type="text" class="username" name="username" placeholder="Username">
                </div>
                <div class="pass-input">
                    <label for="password">Password:</label>
                    <input type="password" class="password" name="password" placeholder="Password">
                </div>
                <div class="btn-div">
                    <button class="btn" type="submit">Login</button><br>
                </div>
            </form>
        </div>
        <div class="header">
            <p class="message1">Not a member yet? <a href="{{url_for('register')}}" class="btn btn-1">Register</a>
                now!</p>
            <p class="return">{{ go_back | safe }}</p>
        </div>
    </div>

    <div class="footer-div">
        <!-- Footer -->
        <footer class="footer">
            <p class="explore-text">Feel free to explore our resources and
                reach
                out if you have any questions. We're dedicated to supporting
                your health journey!
            </p>
            <!-- Social media icons below the footer -->
            <div class="footer-icons" style="margin-top: 0px;">
                <a href="https://www.facebook.com" target="_blank"><i class="fab fa-facebook-f"></i></a>
                <a href="https://www.twitter.com" target="_blank"><i class="fab fa-twitter"></i></a>
                <a href="https://www.instagram.com" target="_blank"><i class="fab fa-instagram"></i></a>
                <a href="https://github.com" target="_blank"><i class="fab fa-github"></i></a>
                <a href="https://linkedin.com" target="_blank"><i class="fab fa-linkedin"></i></a>
            </div>
            <p class="copy">&copy; 2024 MedKorea. All right
                reserved.</p>
        </footer>
    </div>
    <script src="../static/server.js"></script>
</body>

</html>