<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{ title }}</title>
        <link rel="stylesheet"
            href="{{ url_for('static', filename='styles.css')}}">
    </head>
    <body>
        <div class="wrap-error">
            <h1 class="error-title">{{ title }}</h1>
            <h3 class="error-message">{{ message }}</h3>
            <p class="error-parag"><a href="{{ url_for('home') }}">Click</a>
                here to go back to home
                page.</p>
        </div>
    </body>
</html>