<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Search Input</title>
        <style>
            * {
                box-sizing: border-box;
            }
            body {
                font-family: Arial, sans-serif;
                padding: 0;
                margin: 0;
                display: flex;
                flex-direction: column;
                align-items: center;
            }
            #searchResults {
                margin: 5rem;
            }
        </style>
    </head>
    <body>
        <h1> {{ title }}</h1>
        <form id="searchForm" method="POST" action="/search_input">
            <input type="text" id="searchInput" placeholder="Enter search query"
                required>
            <button type="button" id="searchButton">Search</button>
        </form>
        <!-- This is where the search results will be displayed -->
        <div id="searchResults"></div>
        <script src="../static/server.js"></script>
    </body>
</html>