<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Register & Login Form</title>
        <link rel="stylesheet" href="../static/styles.css">
    </head>
    <style>
        .btn {
            transition: all 0.5s ease-out;
            text-decoration: none;
        }
        .btn:hover {
            transform: scale(1.1);
            cursor: pointer;
            background-color: var(--color-secondary);
            color: var(--color-light);
        }
        .link {
            color: #2A2C24;
        }
</style>
    <body>
        <div class="container">

            <!-- Loop to display flash messages -->
            {% with messages = get_flashed_messages(with_categories=True) %}
            {% for category, message in messages %}
            <div class="alert alert-{{ category }}">
                {{ message }}
            </div>
            {% endfor %}
            {% endwith %}

            <!-- form content -->
            <div class="card-left">
                <div class="card-box">
                    <span class="lineBorder"></span>
                    <form method="POST" action="/form" id="registerForm"
                        class="inputForm">
                        <h1>Create account</h1>
                        <input type="text" class="username" name="username"
                            placeholder="Username" required>
                        <input type="text" class="password" name="password"
                            placeholder="Password" required>
                        <input placeholder="Email" name="email" class="email"
                            type="email" required>
                        <div class="btn-div">
                            <button class="btn register"
                                type="submit">Register</button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="card-right">
                <div class="header">
                    <h2 class="welcome">Welcome!</h2>
                    <p>Already have an account?</p>
                    <p>Login and start browsing for
                        your favorite doctor</p>
                    <a href="{{ url_for('login') }}">
                        <button class="btn login">Login</button>
                    </a>
                    <p class="previous">Or <a href="{{ url_for('home') }}"
                            class="link">
                            click here </a>
                        to
                        go
                        back
                        to home page</p>
                </div>
            </div>
        </div>
    </body>
    <link rel="stylesheet" href="../static/server.js">
</html>