/* h1 {
    font-size: 1.4rem;
    color: red;
}

h3 {
<<<<<<< HEAD
    color: cornflowerblue;
} */

* {
    box-sizing: border-box;
    background-color: tomato;
}

nav {
    background-color: #00ADB5;
=======
     color: cornflowerblue;
}

.verify a {
    text-decoration: none;
    color: cornflowerblue;
>>>>>>> f2c1a51943d04f4f15ce82aa8612b0566f09f0b9
}