/*Styling for the index.html or the landing page */

/* Oswald Google Font */
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

/* css variables */
:root {
    --color-primary: #4d78b8;
    --color-extra: #98b1d7;
    --color-secondary: #75C9C8;
    --color-tertiary: #144e8b;
    --color-dark: #2A2C24;
    --color-light: whitesmoke;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Oswald", sans-serif;
    background-color: #f5f5f5;
    color: #333;
    text-align: center;
}

.container-1 {
    /* min-height: 100vh; */
    margin: 0 auto;
    padding: 0;
}

h1 {
    color: #0056b3;
}

h2 {
    color: #007acc;
}

p {
    line-height: 1.6;
    margin-bottom: 1rem;
}

ul {
    list-style-type: square;
    padding-left: 20px;
}

a {
    color: #0056b3;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* styles for login page */
.wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#loginForm {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}

.btn {
    font-size: 1.3rem;
    width: 250px;
}

/* styles for navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color-primary);
    padding: 0.8rem;
    color: white;
}

.siteLogo {
    height: 50px;
    width: 50px;
    margin-right: 1rem;
}

.navLogo {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.navbar .logo {
    font-size: 24px;
    font-weight: bold;
}

.navbar .logo a {
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
    color: var(--color-light);
}

.navbar .buttons {
    display: flex;
}

.navbar .buttons a {
    color: var(--color-light);
    text-decoration: none;
    padding: 10px 15px;
    border: 1px solid var(--color-light);
    margin-left: 1rem;
    border-radius: 5px;
    transition: all 0.5s ease-out;
    text-decoration: none;
}

.navbar .buttons a:hover {
    background-color: var(--color-secondary);
    color: var(--color-light);
    transform: scale(1.1);
    cursor: pointer;
}


/* styles for the footer */
.footer {
    background-color: #f5f5f5;
    padding: 0.3rem;
    text-align: center;
    bottom: 0;
    background-color: var(--color-primary);
    color: #f5f5f5;
}

.footer .footer-icons {
    margin: 1rem;
    transition: all 0.5s ease-out;
}

.footer .footer-icons:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.footer .footer-icons a {
    margin: 0 1rem;
    color: #f5f5f5;
    text-decoration: none;
}

.footer .footer-icons a:hover {
    color: var(--color-secondary);
}

.copy {
    margin-top: 1rem;
}

.footer .explore-text {
    padding: 1.2rem;
    margin: 0.8rem 0;
}

/* styles for flash messages */
.flash-messages {
    list-style: none;
    padding: 0;
}

.flash-messages li {
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
}

.flash-messages .success {
    /* background-color: #d4edda; */
    color: #155724;
    font-size: 1.5rem;
}

.flash-messages .error {
    background-color: #f8d7da;
    color: #721c24;
}

.message-text {
    margin-right: 10px;
}

.dismiss-btn {
    border: none;
    background: none;
    color: inherit;
    font-size: 16px;
    cursor: pointer;
}


/* Register Flash message button to redirect to login */
.link {
    font-display: inline-block;
    border: 2px solid var(--color-light);
    border-radius: 10px;
    background-color: var(--color-primary);
    text-decoration: none;
    font-weight: bold;
    padding: 0.5rem 1.3rem;
    transition: all 0.5s ease-out;
}

.link a {
    color: var(--color-light);
    width: 150px;
    text-decoration: none;
}

.link:hover {
    background-color: var(--color-secondary);
    cursor: pointer;
    text-decoration: none;
    transform: scale(1.1);
}




/* register page container / wrapper */
.registerContainer {
    min-height: 100vh;
    display: flex;
    flex-direction: row;
}

.wrapper {
    /* border-top: 2px solid var(--color-primary); */
    min-height: 100vh;
    margin: 50px;
    width: 50%;
    display: flex;
    flex-direction: column;
    /* justify-content: center;
    align-items: center; */
}

#loginForm {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}

.btn {
    font-size: 1.3rem;
    width: 250px;
}

/* container for login page */
.container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* register.html styling */

.container-right {
    /* border-top: var(--color-primary) 2px solid; */
    /* background-color: var(--color-tertiary); */
    width: 50%;
    min-height: 100vh;
    background-color: var(--color-extra);
    color: var(--color-light);
}

.card-wrap {
    display: flex;
    flex-direction: column;
    margin-top: 200px;
}

.card-wrap h2,
a {
    color: var(--color-tertiary);
}


.inputForm {
    margin: 0 auto;
    background-color: var(--color-extra);
    padding: 30px;
    border-radius: 20px;
    width: 500px;

}

/* .inputForm input[type='text'],
.inputForm input[type='password'],
.inputForm input[type='email'],
.inputForm input[type='date'],
.inputForm input[type='tel'] {
    margin-left: 5rem;
} */

label {
    color: var(--color-light);
    font-size: 1.3rem;
    font-weight: 600;
}

.username-input,
.password-input,
.email-input,
.first-input,
.last-input,
.radio-input,
.dob-input,
.phone-input,
.allergies-input,
.conditions {
    margin: 0px 4px;
    padding: 0px 4px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.5rem;
}


#username,
#password,
#email,
#birthDate,
#phone,
.firstName,
.lastName,
.allergy,
.condition,
.username,
.password {
    width: 250px;
    border: 1.5px solid var(--color-primary);
    border-radius: 5px;
    padding: 8px 4px;
    margin-left: auto;
}

fieldset {
    width: 250px;
    border: var(--color-primary);
    border-radius: 10px;
}

legend {
    color: var(--color-light);
}

.gLabel input[type="radio"] {
    margin: 0 0.5rem;
}

/* .radio-input {
    display: flex;
    justify-content: space-evenly;
    gap: 5.4rem;
    flex-direction: row;
    justify-content: flex-start;
} */

/* #genderLabel { */
/* margin-: 3rem; */
/* text-align: left;
    letter-spacing: 0.2rem; */
/* border: 2px solid red; */
/* Adjust the value as needed */
/* } */
.btn,
.btn.register {
    padding: 8px 12px;
    border: 1.5px solid var(--color-light);
    border-radius: 5px;
    margin: 2rem;
    background-color: var(--color-primary);
    font-family: "Oswald", sans-serif;
    color: var(--color-light);
    font-weight: 600;
    letter-spacing: 1px;
    transition: all 0.5s ease-out;
    text-decoration: none;
}

.btn:hover,
.btn.register:hover {
    background-color: var(--color-secondary);
    color: var(--color-light);
    transform: scale(1.1);
    cursor: pointer;
}

/* Add styles for Logout page */

/* User dashboard page */
.main {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.message {
    font-size: 3rem;
}

.message:hover {
    cursor: pointer;
}

/* input[type="submit"] {
    font-size: 1.4rem;
    bottom: 2px solid #000;
    letter-spacing: 0.1rem;
    cursor: pointer;
} */
#logOut {
    display: inline;
    /* Display the form inline */
}

#logOut input[type="submit"] {
    background-color: #0056b3;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    transition-duration: 0.4s;
}

#logOut input[type="submit"]:hover {
    background-color: #45a049;
    cursor: pointer;
}


/* About page styles */

ul {
    list-style: none;
}

.container-1 {
    min-height: 100vh;
    /* margin: 0 auto; */
    overflow: hidden;
    background-color: var(--color-light);
}

.container-1 h2 {
    font-size: 30px;
}

.container-1 p {
    margin: 20px 150px;
    font-size: 1.1rem;
}

.about1 h1 {
    font-size: 45px;
    /* margin-top: 0px; */
}

.leftText {
    width: 700px;
}

.rightText {
    margin: 0 auto;
    padding: 30px;
}

.offerText {
    /* border: 2px solid teal; */
    position: absolute;
    right: 20px;
    margin-top: 150px;
}


#thirdText {
    padding-bottom: 200px;
}

.yehaw {
    height: 100px;
}

.about1 {
    padding-top: 8rem;
    display: flex;
    flex-direction: column;
    justify-content: left;
    width: 100%;
    height: 600px;
    background-image: url('./images/stethDesk.jpg');
    background-size: cover;
    background-position: center;
}

.about2 {
    /* background-image: url('./images/34.jpg'); */
    /* background-size: contain; */
    /* background-position: right; */
    /* background-repeat: no-repeat; */
    display: flex;
    flex-direction: column;
    justify-content: left;
    padding: 30px 50px;
}

.about3 {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 100%;
    height: 600px;
    background-image: url('./images/bandage.jpg');
    background-size: cover;
    background-position: center;
}

.about4 {
    display: flex;
    flex-direction: column;
    justify-content: left;
    width: 100%;
    height: 600px;
    background-image: url('./images/medicalBlocks.jpg');
    background-size: cover;
    background-position: center;
}

.about5 {
    display: flex;
    flex-direction: column;
    justify-content: left;
    padding: 30px 50px;
}

.about6 {
    display: flex;
    flex-direction: column;
    justify-content: left;
    width: 100%;
    height: 600px;
    background-image: url('./images/stethBlue.jpg');
    background-size: 100%;
    background-position: center;
}

/* styling for about.html END */

/* styling for booking START */

.bookTitle h1 {
    /* display: flex; */
    margin: 15px auto;
}

.booking-form {
    margin: 0 auto;
    background-color: var(--color-extra);
    padding: 30px;
    border-radius: 20px;
    width: 800px;
    align-items: center;
}

.doctorSelected {
    display: none;
}

/* div styling */
.selectDoctor,
.fullNameInput,
.preferredDate,
.currentConcerns {
    margin: 0px 4px;
    padding: 0px 4px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.5rem;
}

/* input styling */
#doctorSelect,
#fullName,
.apptConcerns,
#apptDate {
    width: 250px;
    border: 1.5px solid var(--color-primary);
    border-radius: 5px;
    padding: 8px 4px;
    margin-left: auto;
    margin-bottom: 16px;
    height: 50px
}


.patientSelect {
    display: flex;
    width: 250px;
    justify-content: space-between;
    /* border: 1.5px solid var(--color-primary); */
    border-radius: 5px;
    padding: 4px 4px;
    margin-left: auto;
    margin-bottom: 16px;
}

.bookLabel {
    text-align: left;
    color: var(--color-light);
    font-size: 1.3rem;
    font-weight: 600;
    width: 300px;
}

/* styling for booking END */